{% import "parts/forms/macros.html.twig" as forms %}

{% for field_name in ['programVersion', 'osVersion', 'hwArchitecture', 'executableChecksum', 'errorCategory', 'errorAddress'] %}
    <div class="row mb-3">
        {{ forms.input(form.getField(field_name), {'label': 'col-sm-2 col-form-label', 'div': 'col-sm-10', 'input': 'form-control'}, {'spellcheck': 'false'}) }}
    </div>
{% endfor %}
